/* CSS crunched with Crunch - http://crunchapp.net/ */
header{margin-top:30px;}
.btn.demo{margin-right:20px;}
h2 .label{vertical-align:4px;}
textarea{height:330px;resize:none;font-family:Menlo,Monaco,"Courier New",monospace;font-size:11px;line-height:15px;}
label.control-label{font-weight:bold;}
footer{margin-bottom:30px;}footer a{margin-top:0;}
